body {
    padding: 16px;
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

nav {
    background:  #f1f1f1;
    padding: 12px;
    border-radius: 12px;
}

.logo-and-name {
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo {
    border-radius: 50%;
}

.title {
    font-size: 32px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.subtitle {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links > li {
    width: 100%;
}

.link {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 250%;
    background: #b3b0b0;
    border-radius: 12px;
    color: #000;
    text-decoration: none;
    transition: 0.3s ease all;
}

.link:hover {
    background: purple;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f1f1f1;
    margin-top: 12px;
    padding: 12px 16px;
    border-radius: 12px;
}