/*This is the start of my css.*/
body {
background-color: •gb (253, 239, 226) ; font-family: "Oxygen", sans-serif; font-size: 16px; font-weight: 300; margin: 0;
}
/*This is navigation area.*/
background-color:#blue
nav ulf
list-style-type: none;
padding: 10px 2vw;
margin: 0;
display: flex;
nav a E
font-size: 